.container {
    background-color: orange;
}

/* 기본상태 */
.alex {
    font-size: 90px;
    background-color: pink;
}
.ben {
    font-size: 30px;
    background-color: lime;

    
    /* 부모태그인 container에 있는 'x'의 가운데부분과 ben 박스의 가운데 부분이 일치하도록 정렬시킴 */
    /* 'vertical-align'은 부모태그의 '소문자 x'의 가운데 부분과 해당 요소의 가운데를 맞춰주는데 왜 하필 '소문자 x' 인지는 나중에 배움 : x height */
    vertical-align: middle;
}
.chris {
    font-size: 60px;
    background-color: yellow;

    /* chris에 해당하는 박스도 박스의 가운데 부분이 소문자 x의 가운데 부분에 일치하게됨 */
    vertical-align: middle;
}


/* 모든 요소에 'vertical-align : middle' 해주면 모든 요소(여기선 박스)의 가운데 부분이 맞춰짐 */
.alex2 {
    font-size: 90px;
    background-color: pink;
    vertical-align: middle;
}
.ben2 {
    font-size: 30px;
    background-color: lime;
    vertical-align: middle;
}
.chris2 {
    font-size: 60px;
    background-color: yellow;
    vertical-align: middle;
}

