body {
    margin: 0;
    min-width: 768px;
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  /* side navbar */
  
  #side-navbar {
    background-color: black;
    height: 100%;
    width: 250px;
    position: fixed;
  }

  #menu {
      list-style: none;
  }

  #menu li:not(:last-child) {
      margin-bottom: 30px;
  }
  
  #menu li a{
      color: white;
      text-decoration: none;
  }

 #logo {
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 30px;
     margin-bottom: 50px;
 }
  
 .link-container {
     text-align: center;
     margin-top: 60px;
 }

 .link-container a:first-child{
     margin-right: 13px;
 }
  
  #main {
    margin-left: 250px;
    padding-left: 22px;
  }
  
  #main .hero-header {
    text-align: center;
    background-image: url("hero_header.jpg");
    background-size: cover;
    background-position: center center;
    height: 750px;
    line-height: 750px;
  }
  
  #main .info {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
  }
  
  #main h1 {
    margin: 0;
    margin-bottom: 40px;
    color: white;
    font-size: 38px;
  }
  
  #main a {
    padding: 10px 40px;
    border: 2px solid white;
    font-size: 18px;
    color: white;
    text-decoration: none;
  }
  