h1 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

/* 브라우저 가로 길이가 768px 이상일때 적용! */
@media (min-width: 768px) {
    h1{
        font-size: 36px;
    }

    p {
        font-size: 24px;
    }

    body{
        background-color: gray;
    }
}

/* 마찬가지로 브라우저 가로 길이 992px 이상일때 적용 */
@media (min-width: 992px) {
    h1{ 
        font-size: 48px;
    }

    p{
        font-size: 32px;
    }

    body{
        background-color: yellow;
    }
}