body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  #navbar {
    padding: 0 20px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.50);
    height: 60px;
  }
  
  #logo {
    font-family: serif;
    float: left;
  
     /* 내비게이션 바(#navbar)의 높이가 60px 이므로 line-height를 같게해서 세로 가운데 정렬해줌 */
     line-height: 60px;
  }

  #logo img {
      /* 부모인 a tag에 소문자 x 에 맞춰 정렬됨 */
      vertical-align: middle;
  }
  
  .hero-header {
    background-image: url("images/hero_image.jpg");
    background-size: cover;
    background-position: center center;
    height: 670px;
    text-align: center;

    /* .info 세로 가운데 정렬해주기위해 line-height를 height 와 같게 설정 */
    line-height: 670px;
  }
  
  .hero-header .info {
    /* 가운데 정렬해주기 위해 inline-block 요소로 변경 */
    display: inline-block;
    /* 요소 변경 후 vertical-align: middle; 해줌 */
    vertical-align: middle;
    /* 부모 태그의 line-height이 자식태그인 info에게 상속되므로 line-height: normal; 해줌 */
    line-height: normal;
  }
  
  .hero-header .info h1 {
    font-size: 36px;
    margin: 0;
    margin-bottom: 13px;
    color: white;
    font-weight: 400;
  }
  
  .hero-header .info h2 {
    font-size: 16px;
    margin: 0;
    margin-bottom: 60px;
    color: white;
    font-weight: 400;
  }
  
  .hero-header .info a {
    font-size: 14px;
    background-color: white;
    color: #464273;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  #menu {
     list-style: none;
     float: right;
  }

  #menu li {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    color: black;
    
  }

  #menu li a{
    text-decoration: none;
  }

  #menu li a:hover{
    background-color: #eeeeee;
  }
  
  